*, html {
    margin: 0px;
    padding: 0px;
}

.irish-grover-regular {
    font-family: "Irish Grover", system-ui;
    font-weight: 400;
    font-style: normal;
    color:white;
    font-size: 100px;
    position: absolute;
    top:180px;
    left:200px;
    letter-spacing: 2px;
}

.bay{
    position: absolute;
}

.tam{
    position: absolute;
    top:300px;
    left:200px;
    font-size: 60px;
}

.chin{
    position: absolute;
    top:400px;
    left:200px;
    font-size: 30px;
    border:3px none black;
    border-radius:20px;
    padding:20px;
    background:rgb(53, 53, 56);
}

.chin:hover{
    background:rgb(227, 100, 45);
}

#muoi{
    position: absolute;
    top:300px;
    left:200px;
    font-size: 60px;
}

#muoimot{
    position: absolute;
    top:400px;
    left:200px;
    font-size: 30px;
    border:3px none black;
    border-radius:20px;
    padding:20px;
    background:rgb(53, 53, 56);
}

#muoimot:hover{
    background:rgb(227, 100, 45);
}

#muoihai{
    position: absolute;
    top:300px;
    left:200px;
    font-size: 60px;
}

#muoiba{
    position: absolute;
    top:400px;
    left:200px;
    font-size: 30px;
    border:3px none black;
    border-radius:20px;
    padding:20px;
    background:rgb(53, 53, 56);
}

#muoiba:hover{
    background:rgb(227, 100, 45);
}

.mot .roboto-slab:hover, a .roboto-slab:hover{
    background-color: red;
    color:white;
}

.mot .ruge-boogie-regular {
    font-family: "Ruge Boogie", cursive;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    font-size: 40px;
    position: relative;
}

.mot .ruge-boogie-regular:hover {
    border:1px solid #ffa600;
    border-radius:20px;
    background-color: #ffa600;
}

.mot .creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 12px 20px;
    color: #fff;
    font-size: 45px;
    margin-right: 40px;
    margin-left: 15px;
    transition: .4s ;
}

.mot .creepster-regular:hover{
    color:#ffa600;
}

.mot {
    background-image: url(https://img.freepik.com/premium-photo/horror-halloween-themed-pattern_863013-62889.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300vh;
} 

.hai {
    background: rgb(22, 93, 156, .1);
    backdrop-filter: blur(10px); /* làm trong suốt( làm mờ màu )*/
    position: fixed;
    z-index: 100;
    width: 100%;
    height:67px;
    padding: 0 1px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.fa-solid {
    color:white;
    font-size: 40px;
    transition: .4s ;
}

.fa-solid:hover {
    color:#9932CC;
}

.ba{
    font-size: 25px;
    border:3px solid black;
    border-radius:18px;
    margin-left: 50px;
    padding:6px
}

.bon{
    margin-left: 15px;
    margin-right: 15px;
}

#nam{
    border:1px solid #ffa600;
    border-radius:20px;
    background-color: #ffa600;
}

.sau{
    width:100%;
    height:550px;
    text-align: center;
    margin-top: 84px;
}

.mot .emilys-candy-regular {
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    color:white;
    font-size: 50px;
    background-color:rgb(53, 53, 56, .1);
    backdrop-filter: blur(30px);
    border:5px none black;
    padding:30px;
    width:1250px;
    border-radius:50px;
    margin-left: 90px;
    margin-top:90px;
}

.haimuoi{
    margin-top: 20px;
    margin-left: 100px;
    height:300px;
    width: 350px;
    border-radius:20px;
}

.henny-penny-regular {
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
    color:white;
    margin-left: 100px;
    margin-right: 40px;
    font-size: 25px;
}


/* span{
    border:1px solid #ffa600;
    border-radius:15px;
    font-size: 20px;
    padding: 30px 30px;
} */

